{{ define "content" }} 

    <div class="container" style="position: relative; height:100%;width=100%;" >
        <h1>Welcome</h1> 

        <div id="graph-container"  style="position: absolute; height:100%; width:100%;"> 


        <script src="/public/js/sigma.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/sigma.parsers.json.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/sigma.layout.forceAtlas2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/sigma.plugins.filter.min.js" type="text/javascript" charset="utf-8"></script>
        <script>
    var s = new sigma({
        container: 'graph-container',
        settings: {
            edgeColor: "source",
            defaultNodeColor: "#fab" ,
            labelThreshold: 12,
            maxNodeSize: 2, 
            batchEdgesDrawing: true, 
            defaultEdgeType: "curve", 
        }
        });

        var filter = new sigma.plugins.filter(s);


        window.setTimeout(function(){s.killForceAtlas2()}, 15000);
        window.setTimeout(function(){console.log("done")}, 10000);

        s.bind("overNode", function(d){
            filter.neighborsOf(d.data.node.id).apply();
        })

        s.bind("outNode", function(n){
            filter.undo().apply();
        })

        
        $.get('/tomgraph/blood/nodes',
                function(data){
                    nodes = JSON.parse(data);
                    $.get('/tomgraph/blood/edges',
                            function(data){
                                edges = JSON.parse(data)

                                for(var i = 0; i < nodes.length; i++){
                                    nodes[i].label = nodes[i].id + " ("+nodes[i].color+")"
                                    nodes[i].module = nodes[i].color 
                                    nodes[i].color = getHexColor(nodes[i].color)
                                    nodes[i].size = 1; 
                                }
    
                                s.graph.read({
                                    nodes: nodes,
                                    edges: edges
                                })

                                s.refresh() 

                            })
                })

        function getHexColor(colorStr) {
            var a = document.createElement('div');
            a.style.color = colorStr;
            var colors = window.getComputedStyle( document.body.appendChild(a) ).color.match(/\d+/g).map(function(a){ return parseInt(a,10); });
            document.body.removeChild(a);
            return (colors.length >= 3) ? '#' + (((1 << 24) + (colors[0] << 16) + (colors[1] << 8) + colors[2]).toString(16).substr(1)) : false;
        }

        </script>
        </div> 
    </div> 
{{ end }}
