{{ define "content" }} 
    <script src="/public/js/sigma.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/sigma.parsers.json.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/sigma.layout.forceAtlas2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/sigma.plugins.filter.min.js" type="text/javascript" charset="utf-8"></script>
    <div class="container">
        <div class="row">
            <h1>Modules</h1> 
            <p> 
                Select one or more modules from the list below and click
                <i>start</i> to start exploring the different modules 
            </p>
        </div> 
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6" id="module-selector">
            <ul class="nav nav-tabs" role="tablist" id="tissue-tab">
                {{ range .Tissues }} 
                <li role="presentation" tissue="{{.}}"><a href="#{{.}}" 
                            aria-controls="{{.}}"
                            role="tab" data-toggle="tab">
                            {{.}} </a> 
                        </li>
                {{ end }}
            </ul>
                <div class="tab-content"> 
                    {{  range $tissue, $modules := .Modules }} 
                    <div role="tabpanel" class="tab-pane"
                        id="{{$tissue}}">
                        <select multiple class="form-control tissue" id="{{$tissue}}-module-select">
                            {{range $modules}}
                                <option>{{ .Name }} </option>
                            {{ end }} 
                        </select> 
                    </div> 
                    {{ end }} 
                </br> 
                <button type="submit" class="btn btn-default"
                    id="module-select-btn">Select</button>
                </div> 
            </div> 

            <div class="col-sm-6 col-md-6 col-lg-6" style="position: relative; height:100%;width=100%;">
                <div id="graph-container"  style="position: absolute;"> 
                </div> 
            </div> 
        </div> 
    </div> 
    <script src="/public/js/modules.js" type="text/javascript" charset="utf-8"></script>
{{ end }}
