{{ define "content" }}
  
  <script src="/public/js/module.js" type="text/javascript" charset="utf-8"></script>
  <script src="/public/js/jquery.tablesorter.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/module.css">
  <link rel="stylesheet" type="text/css" href="/public/css/yamm.css">

  <!-- For scientific notation http://stackoverflow.com/a/5540774/1385324 -->
  <script> 
    $.tablesorter.addParser({ 
    // set a unique id
    id: 'scinot', 
    is: function(s) { 
        return /[+\-]?(?:0|[1-9]\d*)(?:\.\d*)?(?:[eE][+\-]?\d+)?/.test(s); 
    }, 
    format: function(s) { 
        return $.tablesorter.formatFloat(s);
    }, 
    type: 'numeric' 
    });
  </script> 

<div class="container-fluid">
  <div class="col-md-1 scrollnav" id="scrollnav" >
    <ul class="nav navigator nav-stacked affix-top" data-spy="affix">
      {{ range .Modules }}
      <li>
        <a href="#{{.Name}}-module">{{.Name}}</a>
        <!--
        <ul class="nav navigator">
          <li> <a href="#{{.Name}}-enrichment"> Enrichment Scores</a> </li>
        </ul>
        -->
      </li>
      {{ end }}
    </ul>

  </div>

  {{ range $module := .Modules }}
  <section id="{{$module.Name}}" class="module">
    <div class="row" id="{{$module.Name}}-module">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <!-- <h2> {{.Name}} </h2> -->
        <a href="/resources/{{$module.HeatmapUrl}}/pdf/heatmap.pdf"
            download="{{$module.Name}}-{{$module.Tissue}}-heatmap.pdf"
            target="_blank">
          <img src="/resources/{{$module.HeatmapUrl}}/png/module-heatmap.png" id="module-heatmap"></img>
        </a>
        <span id="download-link">
          <a href="/resources/{{$module.Url}}/csv/genelist.csv" 
              download="{{$module.Name}}-{{$module.Tissue}}-genelist.csv"
              target="_blank">Download gene list</a>
        </span>
        </hr>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6" id="module-table">
        <div class="table-responsive" id="genes">
          <table class="table table-hover" id="gene-table">
            <thead>
              <th> Rank </th> 
              <th> Gene ({{len $module.Genes}}) </th>
              <th> Correlation </th>
              <th> Up/Down </th>
            </thead>
            <tbody>
              {{ range $rank, $gene := $module.Genes }}
              <tr>
                <td class="rank"> {{$rank}} </td> 
                <td class="name" data-toggle="tooltip" data-placement="left" id="{{.Name}}">
                  <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{.Name}}">{{$gene.Name}}</a>
                </td>
                <td class="correlation"> {{$gene.Correlation}} </td>
                <td class="updown"> {{$gene.Updown}} </td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <section id="{{$module.Name}}-enrichment">
      <div class="row" id="{{$module.Name}}-enrichment">
        <div class="col-sm-11 col-md-11 col-lg-11" id="set-table" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist" id="settab-{{$module.Name}}">
            <li role="presentation"><a href="#gotab" aria-controls="goterms" role="tab" data-toggle="tab">GO terms</a></li>
            {{ range $name, $set := .EnrichmentScores.Sets }}
            <li role="presentation"><a href="#{{$module.Name}}-{{$name}}" aria-controls="{{$module.Name}}-{{$name}}" role="tab" data-toggle="tab">
                            {{$name}} </a>
            </li>
            {{ end }}
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="gotab">
              <div class="table-responsive" id="scores">
                  <table class="table table-hover" id="goterms">
                      <thead>
                          <th> GO.ID </th>
                          <th> Term </th> 
                          <th> Size </th> 
                          <th> Common </th> 
                          <th> Expected </th> 
                          <th> Raw p-value <small>(not adjusted for multiple testing)</small> </th> 
                          <th> Weight01Fisher </th> 
                      </thead>
                      <tbody>
                        {{ range $index, $term := $module.GOTerms }}
                            <tr> 
                                <td> {{$term.GOId }} </td> 
                                <td><a href="http://amigo.geneontology.org/amigo/term/{{$term.GOId}}">{{$term.Term }}</a></td> 
                                <td> {{$term.Annotated }} </td> 
                                <td> {{$term.Significant }} </td> 
                                <td> {{$term.Expected }} </td> 
                                <td> {{$term.ClassicFisher }} </td> 
                                <td> {{$term.Weight01Fisher }} </td> 
                            </tr> 
                        {{end}}
                      </tbody> 
                  </table>
                </div>
            </div> 
            {{ range $name, $sets := .EnrichmentScores.Sets }}
            <div role="tabpanel" class="tab-pane" id="{{$module.Name}}-{{$name}}">
              <div class="table-responsive" id="scores">
                  <table class="table table-hover" id="score-table-{{$module.Name}}-{{$name}}">
                  <thead>
                    <th class="score-name-header"> Signature </th>
                    <th> Size </th>

                    <th> Common </th>
                    <th> p-value </th>

                    <th> Common (up) </th>
                    <th> p-value (up)</th>

                    <th> Common (down) </th>
                    <th> p-value (down) </th>
                  </thead>
                  <tbody class="list">
                    {{ range $set := $sets }}
                    <tr>
                      <td class="set" data-toggle="tooltip" data-placement="left">
                    {{if eq $set.SignatureName "Dumeaux_50" "Dumeaux_345" }}
                        <a class="signature"
                          href="http://onlinelibrary.wiley.com/doi/10.1002/ijc.29030/abstract"
                          target="blank">{{$set.SignatureName}}</a>
                    {{else if eq $set.SignatureName "LaBreche_114" }} 
                        <a class="signature"
                          href="http://www.biomedcentral.com/1755-8794/4/61"
                          target="blank">{{$set.SignatureName}}</a>
                    {{else if eq $name "i" }}
                        <a class="signature"
                          href="http://www.sciencedirect.com/science/article/pii/S1074761308002835"
                          target="blank">{{$set.SignatureName}}</a>
                    {{ else }} 
                        <a class="signature"
                          href="http://www.broadinstitute.org/gsea/msigdb/geneset_page.jsp?geneSetName={{$set.SignatureName}}"
                          target="blank">{{$set.SignatureName}}</a> 
                    {{ end }} 
                          
                          </td>
                      <td class="size" data-sort-method='numeric'> {{$set.Size}} </td>
                      <td class="common" data-sort-method='numeric'>
                          <a href="/common/{{$module.Tissue}}/{{$module.Name}}/{{$set.SignatureName}}/updn.common/csv" target="_blank" download>
                              {{$set.UpDownCommon}}
                           </a>
                       </td>
                      <td class="p-value" data-sort-method='numeric'> {{$set.UpDownPvalue}} </td>
                      <td class="common-up" data-sort-method='numeric'> 
                          <a href="/common/{{$module.Tissue}}/{{$module.Name}}/{{$set.SignatureName}}/up.common/csv" target="_blank" download>                          
                          {{$set.UpCommon}}
                            </a>
                        </td>
                      <td class="p-value" data-sort-method='numeric'> {{$set.UpPvalue}} </td>
                      <td class="common-down" data-sort-method='numeric'>
                          <a href="/common/{{$module.Tissue}}/{{$module.Name}}/{{$set.SignatureName}}/dn.common/csv" target="_blank" download>                          
                              {{$set.DownCommon}}</a> </td>
                      <td class="p-value" data-sort-method='numeric'> {{$set.DownPvalue}} </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
            {{ end }}
                    <script> 
                        var baseUrl = "http://"+ location.hostname + ":" + location.port

                        $("td.common").mouseover(
                            function (d){
                                    set = $(this).closest('tr').children('td.set').text().replace(/\s/g, "")
                                    n = $(this) 
                                    url = baseUrl + "/common/{{$module.Tissue}}/{{$module.Name}}/"+set+"/updn.common"
                                    $.get(url, function(d) {
                                        d = JSON.parse(d) 
                                        n.attr("title", d.Genes)
                                    })
                            }
                        ); 
                        $("td.common-up").mouseover(
                        function (d){
                                    set = $(this).closest('tr').children('td.set').text().replace(/\s/g, "")
                                    n = $(this) 
                                    url = baseUrl + "/common/{{$module.Tissue}}/{{$module.Name}}/"+set+"/up.common"
                                    $.get(url, function(d) {
                                        d = JSON.parse(d) 
                                        n.attr("title", d.Genes)
                                    })
                            }); 
        
                        $("td.common-down").mouseover(
                                 
                        function (d){
                                    set = $(this).closest('tr').children('td.set').text().replace(/\s/g, "")
                                    n = $(this) 
                                    url = baseUrl + "/common/{{$module.Tissue}}/{{$module.Name}}/"+set+"/dn.common"
                                    $.get(url, function(d) {
                                        d = JSON.parse(d) 
                                        n.attr("title", d.Genes)
                                    })
                            }); 
                    </script>
          </div>
        </div>
      </div>
    </section> 
    <script>
      $(function() {
        {{range $name, $sets := .EnrichmentScores.Sets}}
        $('#score-table-{{$module.Name}}-{{$name}}').tablesorter(); 
        $('#settab-{{$module.Name}} a:first').tab('show')
        {{end}}

        $("#goterms").tablesorter(); 
      });
    </script>
  </section>
  <hr class="module">
  {{ end }}
  </div> 
{{ end }}
