{{ define "content" }}
    <div class="container">
        {{ range .Modules }} 
            <div class="row" id="module"> 
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <!-- <h2> {{.Name}} </h2> -->
                    <img src={{.HeatmapUrl}} id="module-heatmap"></img>
                    </hr>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6" id="module-table">
                    <div class="table-responsive" id="genes">
                    <table class="table table-hover" id="gene-table">
                        <thead> 
                            <th> Gene </th>
                            <th> Correlation </th>
                            <th> k </th>
                            <th> kin </th>
                            <th> Up/Down </th>
                        </thead>
                        <tbody class="list">
                             {{ range .Genes }} 
                                 <tr> 
                                     <td class="name"> {{.Name}} </td>
                                     <td class="correlation"> {{.Correlation}} </td> 
                                     <td class="k"> {{.K}} </td> 
                                     <td class="kin"> {{.Kin}} </td> 
                                     <td class="updown"> {{.Updown}} </td> 
                                 </tr>
                            {{ end }} 
                        </tbody> 
                    </table>
                </div>

                </div>
            </div>
        {{ end }} 
    </div>
   <script src="/public/js/list.js" type="text/javascript" charset="utf-8"></script>
   <script src="/public/js/module.js" type="text/javascript" charset="utf-8"></script>
   <link rel="stylesheet" type="text/css" href="/public/css/module.css"> 
{{ end }} 
