{{ define "content" }} 

<script src="/public/js/colorbrewer.js" charset="utf-8"></script>
<script src="/public/js/d3.min.js" charset="utf-8"></script>
<script src="/public/js/compare-tissues.js" charset="utf-8"></script> 

<style> 
.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}
</style>


<div class="container">
    <div class="row">
        <h2> Comparing tissues {{.TissueA}}  - {{.TissueB}}</h2> 
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="heatmap">
            </div>
        </div>

        <div class="col-md-4">
            <table class="table table-hover">
            <thead>
                <th> Select analysis </th>
            </thead>
            <tbody>
                <tr id="eigengene"><td class="analysis-select"> Eigengene correlation (student-p) </td> </tr>
                <tr id="overlap"><td class="analysis-select"> Gene overlap (hyper-p) </td> </tr>
                <tr id="roi"><td class="analysis-select"> ROI association (FET-p) </td> </tr>
                <tr id="patientrank"><td class="analysis-select"> Patient rank correlation
                        (student-p)</td> </tr>
            </tbody> 
            </table>
            
            <h5> Scale </h5> 
            <div id="legend"> 

            </div> 

        </div>
    </div>
</div>




<script>

    loadEigengeneHeatmap("{{.TissueA}}", "{{.TissueB}}") 
    
    $("tr#overlap").click(function(){
            loadGeneOverlapHeatmap("{{.TissueA}}","{{.TissueB}}")
    })

    $("tr#eigengene").click(function(){
            loadEigengeneHeatmap("{{.TissueA}}","{{.TissueB}}")
    })


    $("tr#roi").click(function(){
            loadROIHeatmap("{{.TissueA}}","{{.TissueB}}")
    })

    $("tr#patientrank").click(function(){
            loadPatientRankHeatmap("{{.TissueA}}","{{.TissueB}}")
    })
</script> 
{{ end }} 
