{{ define "content" }} 

<script src="/public/js/colorbrewer.js" charset="utf-8"></script>
<script src="/public/js/d3.min.js" charset="utf-8"></script>
<script src="/public/js/comparison-heatmap.js" charset="utf-8"></script> 

<style> 
.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}
text.label-heatmap {
    font-size: 20;
    font-weight: normal
}
</style>


<div class="container">
    <div class="row">
        <h2 id ="comp-header"> Comparing tissues {{.TissueA}}  - {{.TissueB}}</h2> 
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="heatmap-{{.TissueA}}">
               <svg></svg>
            </div>
        </div>

        <div class="col-md-4">
            <table class="table table-hover">
            <thead>
                <th> Select analysis </th>
            </thead>
            <tbody>
                <tr id="ranksum"><td class="analysis-select">Ranksum</td> </tr>
                <tr id="eigengene"><td class="analysis-select"> Eigengene correlation (student-p) </td> </tr>
                <tr id="overlap"><td class="analysis-select"> Gene overlap (hyper-p) </td> </tr>
                <tr id="roi"><td class="analysis-select"> ROI association (FET-p) </td> </tr>
                <tr id="patientrank"><td class="analysis-select"> Patient rank correlation
                        (student-p)</td> </tr>
            </tbody> 
            </table>
            
            <h5> Scale (-log10)</h5> 
            <div id="legend"> 


            <div class="dropdown">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select cohort (optional)
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                  {{ range $cohort := .Cohorts }} 
                  <input name="cohort" class="cohort-select" type="radio" aria-label="{{$cohort}}" id="{{$cohort}}" value="{{$cohort}}"> {{$cohort}}</input></br>
                  {{ end }} 
              </ul>
            </div>

            </div> 

        </div>
    </div>
</div>




<script>

    var cohort = "all" 

    $("#"+cohort).prop("checked", true);
    $(".cohort-select").click(function(){
        cohort = $('input[name=cohort]:checked').val();
        loadRanksumHeatmap("{{.TissueA}}","{{.TissueB}}", cohort);

        $("#comp-header").text("Comparing tissues {{.TissueA}}  - {{.TissueB}} ("+cohort+" cohort)")
    })


    
    loadRanksumHeatmap("{{.TissueA}}", "{{.TissueB}}", cohort) 
    $("tr#ranksum").addClass("info") 
    
    $("tr#ranksum").click(function(){
            loadRanksumHeatmap("{{.TissueA}}","{{.TissueB}}", cohort)
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
    })


    $("tr#overlap").click(function(){
            loadGeneOverlapHeatmap("{{.TissueA}}","{{.TissueB}}")
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
    })

    $("tr#eigengene").click(function(){
            loadEigengeneHeatmap("{{.TissueA}}","{{.TissueB}}")
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
    })


    $("tr#roi").click(function(){
            loadROIHeatmap("{{.TissueA}}","{{.TissueB}}")
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
    })

    $("tr#patientrank").click(function(){
            loadPatientRankHeatmap("{{.TissueA}}","{{.TissueB}}")
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
    })
</script> 
{{ end }} 
