{{ define "content"}} 
<script src="/public/js/dropzone.js" type="text/javascript" charset="utf-8"></script>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="container" id="genedrop">
                <div class="dz-message">
                    <h4> Drop a gene list here to start the analysis </h4> 
                    <small class="fileselect"> You can also click to select a file </small>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(function(){
        var drop = new Dropzone("div#genedrop", {
                                url:"/userlist/submit",
                                });
        drop.on("drop", function(file){
            $(".dz-message").html("<h4>Analyzing...</h4>") 
            })

        drop.on("success", function(a,url){
            window.location.replace(url) 
            });
    });
</script>
{{ end }} 
