{{ define "footer" }}
<div class="container">
    <div class="col-md-2"> 
        <div class="row">
        </div> 
        <div class="row">
            <a href="http://cancer.ca">
                <img class="funding" src="/public/img/ccs.png"></img>
            </a> 
        </div>
        <div class="row"> 
            <a href="http://erc.europa.eu">
                <img class="funding" src="/public/img/erc.jpg"></img>
            </a> 
        </div> 
    </div>
    <div class="col-md-8">
            <p class="text-muted">
                <a href="http://www.bci.mcgill.ca" target="_blank">Breast Cancer Informatics Group - BCI</a>
            </p>
    </div> 

    <div class="col-md-2">
        <div class="row">
            Contact </br> 
            <a href="mailto:vanessa.dumeaux@gmail.com">Vanessa Dumeaux</a></br>
            <a href="mailto:bjorn.fjukstad@uit.no">Bjørn Fjukstad</a></br>
        </div>
    </div>
</div> 
{{ end }} 
