{{ define "header" }}
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<link rel="stylesheet" type="text/css" href="/public/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/public/css/sweet-alert.css">
<link rel="stylesheet" type="text/css" href="/public/css/pace.css">


<script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/scotchPanels.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/sweet-alert.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/search.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/js.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/pace.min.js" type="text/javascript" charset="utf-8"></script>


{{ end }}
