{{ define "content" }} 

<script src="/public/js/colorbrewer.js" charset="utf-8"></script>
<script src="/public/js/d3.v4.min.js"></script>
<script src="/public/js/comparison-heatmap.js" charset="utf-8"></script>

<style> 
.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

text.label-heatmap {
    font-size: 20;
    font-weight: normal
}
</style>

<div class="container">
    <div class="row">
        <h2>Select tissue</h2> 
    </div>

    <div class="row" id="heatmap-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked col-md-2" role="tablist">
          {{ range $tissue := .Tissues }} 
              {{ if ne $tissue "nblood" }}
                  {{ if ne $tissue "bnblood" }}
                      <li role="presentation"><a href="#{{$tissue}}" aria-controls="{{$tissue}}"
                      role="tab" data-toggle="tab">{{$tissue}}</a></li>
                  {{ end }} 
              {{ end }} 
          {{ end }} 
        </ul> 

        <div class="tab-content"> 
          {{ range $tissue := .Tissues }} 
          {{ if ne $tissue "nblood" }}
            
            <div role="tabpanel" class="tab-pane" id="{{$tissue}}">
            <div class="col-md-7">
               <div id="heatmap-{{$tissue}}">
                   <svg></svg>
                </div>
           </div>
 
            <div class="col-md-2">
            <table class="table table-hover">
            <thead>
                <th> Select analysis </th>
            </thead>
            <tbody>
                <tr id="{{$tissue}}-ranksum"><td class="analysis-select">Ranksum </td> </tr>
            </tbody> 
            </table>
            
            <h5> Scale (-log10)</h5> 
            <div id="legend"> 
                <p id="legendmin" style="display:inline; margin-right:1em;"></p>
                <svg id="legend-{{$tissue}}"></svg>
                <p id="legendmax" style="display:inline; margin-left:1em;"></p>
            </div> 
        </div>
            </div> 
          {{ end }} 
          {{ end }} 
        </div> 
      </div> 
  </div>

  <script> 
    {{ range $tissue := .Tissues }} 
    $('#heatmap-tabs a[href="#{{$tissue}}"]').on("click", function(e){
              console.log("shit storm", e);
              loadClinicalRanksumHeatmap("{{$tissue}}") 
                $("tr#{{$tissue}}-ranksum").addClass("info") 
                
        }); 

        $("tr#{{$tissue}}-ranksum").click(function(){
            loadClinicalRanksumHeatmap("{{$tissue}}") 
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
        });
    {{ end }} 

  </script> 
{{ end }} 
