{{ define "content" }} 

<script src="/public/js/colorbrewer.js" charset="utf-8"></script>
<script src="/public/js/d3.min.js" charset="utf-8"></script>
<script src="/public/js/comparison-heatmap.js" charset="utf-8"></script>

<style> 
.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}

text.label-heatmap {
    font-size: 20;
    font-weight: normal
}
</style>

<div class="container">
    <div class="row">
        <h2>Select tissue</h2> 
    </div>

    <div class="row" id="heatmap-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked col-md-2" role="tablist">
          {{ range $tissue := .Tissues }} 
              <li role="presentation"><a href="#{{$tissue}}" aria-controls="{{$tissue}}"
              role="tab" data-toggle="tab">{{$tissue}}</a></li>
          {{ end }} 
        </ul> 

        <div class="tab-content"> 
          {{ range $tissue := .Tissues }} 
            <div role="tabpanel" class="tab-pane" id="{{$tissue}}">
            
           <div class="col-md-7">
               <div id="heatmap-{{$tissue}}">
                   <svg></svg>
                </div>
           </div>
 
            <div class="col-md-2">
            <table class="table table-hover">
            <thead>
                <th> Select analysis </th>
            </thead>
            <tbody>
            <tr id="{{$tissue}}-eigengene"><td class="analysis-select"> Eigengene correlation (cor & anova) </td> </tr>
                <tr id="{{$tissue}}-roi"><td class="analysis-select"> ROI (fisher & anova) </td> </tr>
            </tbody> 
            </table>
            
            <h5> Scale (-log10)</h5> 
            <div id="legend"> 
                <svg></svg>
            </div> 

        </div>
            </div> 
          {{ end }} 
        </div> 
      </div> 
  </div>

  <script> 
    {{ range $tissue := .Tissues }} 
    $('#heatmap-tabs a[href="#{{$tissue}}"]').on("click", function(e){
              console.log("shit storm", e);
              loadClinicalEigengeneHeatmap("{{$tissue}}") 
                $("tr#{{$tissue}}-eigengene").addClass("info") 
              //$(this).tab('show')
                
        }); 

        $("tr#{{$tissue}}-eigengene").click(function(){
            loadClinicalEigengeneHeatmap("{{$tissue}}") 
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
        });

        $("tr#{{$tissue}}-roi").click(function(){
            loadClinicalROIHeatmap("{{$tissue}}") 
            $(this).addClass("info") 
            $(this).siblings().removeClass("info") 
        });

    {{ end }} 

  </script> 
{{ end }} 
