{{ define "navbar" }} 
<div class="navbar yamm" id="topnav">
    <a class="navbar-brand" href="/">MIxT</a>
    <ul class="nav navbar-nav">
        <li><a href="/modules">Modules</a></li>
        <li><a href="/tissues">Compare Tissues</a></li>
        <li><a href="/clinical-comparison">Compare Clinical Variables</a></li>
        <li><a href="/userlist" class="userlist">Submit your own gene list!</a></li> 
    </ul>

    <div class="ui-widget">
          <label for="search"></label>
          <input id="search"></input> 
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
    </div>
</div> 
{{ end }} 
