{{ define "content" }}
    <div class="container">
        <div class="row">
            <h2> Available Tissues  </h2> 
        </div>
        <div class="row">
            <table class="table table-hover table-bordered">
                <thead>
                    <th></th> 
                    {{range .T}}
                        <th>
                            {{.Name}}
                        </th> 
                    {{ end }}
                </thead>
                {{range $index, $tissue := .T}}
                    <tr>
                        <th>
                            {{$tissue.Name}}
                        </th>
                        {{range $indexB, $tissueB := $tissue.Comparisons}}
                            {{ if ne $index $indexB }}
                                <td class="success" id="comp" comp={{$tissueB}}></td>
                            {{else}}
                                <td class="info" id="comp" comp={{$tissueB}} ></td>
                            {{end}}
                        {{end}}
                    </tr> 
                {{end}}
            </table>
        </div> 
    </div>

   <script src="/public/js/comparisons.js" type="text/javascript" charset="utf-8"></script>
   
{{ end }} 
