html {
    min-height: 100%;
    position: relative;
}


#settings-panel { 
    background-color: #f1f1f1;
}

.container { 
    overflow: auto
}

.container-fluid { 
    padding-left:0px;
}

.navbar { 
    background-color: #f1f1f1;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.navbar a {
/*    padding-left:2em; */
}

#topnav {
    margin-bottom:0px
} 

#settings-icon {
    background-color: #f1f1f1;
    width: 2em;
    height: 2em;
    
    border-bottom-right-radius:25%;
} 
span.glyphicon-cog {
    font-size: 1.8em;
}
.ui-widget { 
    float: right;
    padding-right: 1em;
    padding-top: 1em;
}

.ui-widget i {
    padding-top:0.7em;
    padding-right:1.2em;
}

td#comp{
 cursor: pointer; cursor: hand;
}

select.tissue {
    height: 50%;
}

span#download-link {
    float: right;
    margin-right: 30%;
}

body { 
    height: 100%;
}

a.userlist { 
    color: rgba(255, 97, 0, 0.61);
}

#genedrop {
    height: 30%;
    width: 100%;
    margin-top:1em;
    background-color: #ccc;
}

div.dz-drag-hover {
    background-color: rgba(255, 97, 0, 0.61) !important;
}

div.dz-message { 
    top:  50%;
    width: 100%;
    position:absolute;    
    text-align: center;
}

div.dz-message h4 {
    text-align: center
}



div.dz-preview{
    display:none !important;
}


div.dz-file-preview {
    display:none !important;
}

#geneinput {
    height:20%;
    margin-top:1em;
}

#gene-input-box {
    height:80%;
}

#gene-text {
    height: 70%;
    white-space: pre;
}

#start-btn {
    margin-top:1em;
    width: 100%;
}

th.headerSortUp { 
    background-image: url(/public/img/asc.gif) !important; 
} 

th.headerSortDown { 
    background-image: url(/public/img/desc.gif) !important; 
} 
th.header { 
    background-image: url(/public/img/bg.gif); 
    background-repeat: no-repeat; 
    background-position: right;
    background-position-x: 0%;
    padding-left: 17px !important;
}

.footer {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.text-muted {
    margin: 20px 0;
    text-align:center;
}

.main { 
   min-height: calc(100% - 110px);

}
