div#genes {
    height: 500px;
}

div#scores {
    height: 500px;
}

div.module {
    padding-bottom:2em;
    border-bottom: 1px solid #ccc;
    margin-top: 2em;
}

img#module-heatmap {
    width: 100%;
}

td.score-name { 
    width:100px;
    word-wrap:break-word;
     overflow: hidden; 
} 

th.score-name-header { 
    width: 100px;
    word-wrap:break-word;
    overflow: hidden; 
} 

.affix {
  top: 20px;
}
.affix-bottom {
  position: absolute;
  width: 50px;
}

section.module {
    padding-left: 10%;
} 

ul.navigator {
    padding-top: 5%;
}

hr.module {
    margin-left: 10%;
}

.nav .nav a {
    font-size: .8em;
}

th.headerSortUp { 
    background-image: url(/public/img/small_asc.gif); 
} 

th.headerSortDown { 
    background-image: url(/public/img/small_desc.gif); 
} 
th.header { 
    background-image: url(/public/img/bg.gif); 
    background-repeat: no-repeat; 
    background-position: right;
}
