#genes {
    height: 500px;
}

#scores {
    height: 500px;
}

#module {
    padding-bottom:2em;
    border-bottom: 1px solid #ccc;
    margin-top: 2em;
}

img#module-heatmap {
    width: 100%;
}

td.score-name { 
    width:100px;
    word-wrap:break-word;
     overflow: hidden; 
} 

th.score-name-header { 
    width: 100px;
    word-wrap:break-word;
    overflow: hidden; 
} 
