#settings-panel { 
    background-color: #f1f1f1;
}

.container { 
    overflow: auto
}

.container-fluid { 
    padding-left:0px;
}

.navbar { 
    background-color: #f1f1f1;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.navbar a {
/*    padding-left:2em; */
}

#topnav {
    margin-bottom:0px
} 

#settings-icon {
    background-color: #f1f1f1;
    width: 2em;
    height: 2em;
    
    border-bottom-right-radius:25%;
} 
span.glyphicon-cog {
    font-size: 1.8em;
}
.ui-widget { 
    float: right;
    padding-right: 1em;
    padding-top: 1em;
}

.ui-widget i {
    padding-top:0.7em;
    padding-right:1.2em;
}
td#comp{
 cursor: pointer; cursor: hand;
}

select.tissue {
    height: 50%;
}

span#download-link {
    float: right;
    margin-right: 30%;
}

body { 
    height: 100%;
}

a.userlist { 
    color: rgba(255, 97, 0, 0.61);
}
#genedrop {
    height: 80%;
    width: 100%;
    margin-top:1em;

    background-color: #86AED0;
}

div.dz-drag-hover {
    background-color: rgba(255, 97, 0, 0.61) !important;
}

div.dz-message { 
    left:20%;
    top:50%;
    position:absolute;    
}

small.fileselect {
    margin-left:6em;
}


div.dz-preview{
    display:none !important;
}


div.dz-file-preview {
    display:none !important;
}

#geneinput {
    height:100%;
    margin-top:1em;
}

#gene-input-box {
    height:80%;
}

#gene-text {
    height: 70%;
    white-space: pre;
}

#start-btn {
    margin-top:1em;
    width: 100%;
}

th.headerSortUp { 
    background-image: url(/public/img/small_asc.gif); 
} 

th.headerSortDown { 
    background-image: url(/public/img/small_desc.gif); 
} 
th.header { 
    background-image: url(/public/img/bg.gif); 
    background-repeat: no-repeat; 
    background-position: right;
}

td.set { 
    max-width: 20em;
    overflow: scroll;
}
