#settings-panel { 
    background-color: #f1f1f1;
}

.container { 
    overflow: auto
}

.container-fluid { 
    padding-left:0px;
}

.navbar { 
    background-color: #f1f1f1;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.navbar a {
    padding-left:2em;
}

#topnav {
    margin-bottom:0px
} 

#settings-icon {
    background-color: #f1f1f1;
    width: 2em;
    height: 2em;
    
    border-bottom-right-radius:25%;
} 
span.glyphicon-cog {
    font-size: 1.8em;
}
.ui-widget { 
    float: right;
    padding-right: 1em;
    padding-top: 1em;
}

.ui-widget i {
    padding-top:0.7em;
    padding-right:1.2em;
}
td#comp{
 cursor: pointer; cursor: hand;
}

select#module-select {
    height: 50%;
}

span#download-link {
    float: right;
    margin-right: 30%;
}
